$dry-authentic-grey: #e9e5dc;
$light-authentic-grey: #fffcf4;
$font-stack:  'Font Authentic', sans-serif;
$mid-size: 700;
$bold-size: 900;
$cursor-type: crosshair;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}
// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}
// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}
// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}
// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

.adbc-body {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('../utils/bg1.jpg');
  // background-color: black;
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
}

.adbc--header__div {
  width: 100%;
  text-align: center;
}
  .adbc--header__div h1 {
    font-size: 9vw;
    font-family: $font-stack;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
    border-bottom: 2px solid white;
    @include sm {
      font-size: 5vw;
    }
    @include md {
      font-size: 4vw;
    }
  }

.adbc--main__div {
  text-align: center;
  padding-top: 30px;
  width: 120px;
  margin: auto;
}
  .adbc--main__div h2 {
    font-family: $font-stack;
    margin-left: 25px;
    margin-bottom: 5px;
    color: black;
  }
  .main-link {
    display: block;
    font-family: $font-stack;
    padding: 15px;
    font-size: 30px;
    color: white;
    cursor: crosshair;
    transition: 0.2s
  }
  .main-link:hover {
    font-size: 6vw;
  }
.signout-btn {
  display: block;
  font-family: $font-stack;
  padding: 15px;
  font-size: 30px;
  color: white;
  border-top: 2px solid white;
  cursor: crosshair;
  transition: 0.6s;
}

.signout-btn:hover {
  border-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

/* Orders */
.order-item--container {
  margin: auto;
}
  .order-item--container h5 {
    margin: 0px;
    padding: 1px 0px;
  }
  .order-item--container h6 {
    margin: 3px 0px;
  }
.order-item--id {
  text-align: center;
  border-top: 2px dotted white;
  padding-top: 13px;
}
  .order-item--id:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 15%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid white;
  }

.order-item--left {
  display: inline-block;
  width: 35%;
  height: auto;
  text-align: center;
  color: white;
  margin: 0px;
}
.order-item--right {
  padding-left: 8px;
  border-left: 1px solid white;
  display: inline-block;
  width: 58%;
  height: auto;
  text-align: left;
  color: white;
}

.order-item--div {
  margin-bottom: 10px;
  margin-left: 10vw;
  @include rwd(500) {
    margin-left: 100px;
  }
  @include md {
    margin-left: 200px;
  }
  @include lg {
    margin-left: 250px;
  }
}
