$dry-authentic-grey: #e9e5dc;
$light-authentic-grey: #fffcf4;
$font-stack:  'Font Authentic', sans-serif;
$font-stack2: 'Oswald', sans-serif;
$mid-size: 400;
$bold-size: 700;
$cursor-type: crosshair;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}
// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}
// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}
// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}
// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

.shop-item {
  width: auto;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
  overflow-x: hidden;
  margin-bottom: 30px;
  margin-left: 2px;
  margin-right: 2px;
}

.shop-item h4 {
  color: black;
  font-family: $font-stack2;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0px;
}

.shop-item h5 {
  color: black;
  font-family: $font-stack2;
  font-weight: 400;
  margin: 10px;
  margin-bottom: 1px;
}

.edit-item {
  font-size: 10px;
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
}

.item-element {
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-stack2;
}

.addshop--div {
  background-color: white;
  text-align: center;
  height: auto;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.addshop--div h2 {
  padding-top: 13px;
  font-family: Font Authentic;
  font-size: 18px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

.input-wrapper-shops {
  margin: auto;
  width: 70%;
  height: 100%;
  text-align: center;
}

.input-submit-shops {
  background-color: #e0be00;
  border: none;
  padding: 13px 28px;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
}

.input-element-shops {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 13px 0px 3px 3px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 17px;
  font-family: Font Authentic;
  letter-spacing: 1px;
}
