.shop-item {
  background-color: white;
  width: auto;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
  overflow-x: hidden;
  margin-bottom: 30px;
  margin-left: 2px;
  margin-right: 2px; }

.shop-item h4 {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0px; }

.shop-item h5 {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 10px;
  margin-bottom: 1px; }

.edit-item {
  font-size: 10px;
  color: grey;
  text-decoration: none;
  text-transform: uppercase; }

.item-element {
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Oswald", sans-serif; }
